body {
	font-size: 16px;
	color: #fff;
	background-color: #66122f;
	font-family: 'Raleway', sans-serif;
}

#header-nav {
	background-color: #f6b319;
	border: 0;
	border-radius: 0;
}

#logo-img {
	background: url("https://raw.githubusercontent.com/tauqeerkhattak/coursera/master/Restaurent%20Webpage/restaurant-logo.png") no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}